alias e='nvim'
alias g='git status'
alias ga='git add'
alias gc='git commit'
alias gf='git fetch'
alias gP='git pull'
alias gp='git push'
alias l='ls -lh --color=auto'
alias ll='ls -alh --color=auto'
alias s='sudo'
alias si='sudo -i'
alias se='sudoedit'
alias vim='nvim'

[[ -f "$HOME/.aliases-local_$(hostname)" ]] && source "$HOME/.aliases-local_$(hostname)"
